@import ../../mixins
.blog
    &__container
        padding-top: 50px
        display: flex
        flex-direction: column
        align-items: center
        +media(728px)
            align-items: flex-start
            flex-direction: row
            justify-content: space-between
    &__header
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 25vh
        background: url('../../assets/img/backgr1.webp') center /cover
        background-attachment: fixed
        +media(728px)
            background: url('../../assets/img/backgr1.webp')
            background-attachment: fixed
    &__title
        font-family: 'Roboto-bold',sans-serif
        font-size: 1rem
        color: #fff
        +media(768px)
            font-size: 2rem
