@import ../../mixins
.blog
    padding-top: 50px
    &__container
        display: flex
        flex-direction: column
        align-items: center
        +media(528px)
            flex-direction: row
            justify-content: space-between

