.slider
    &__wrap
        height: 70vh
        width: 100%
    &__img
        width: 100%
        filter: brightness(90%)
        cursor: grab
.slick-dots li.slick-active button:before
    color: #10ddb4
.slick-dots li button:before
    color: #fff
